extends layout

block content
  header
    h1= title
    p Welcome to #{title}! Let us know what's on your mind!
  main
    button.new-message-button(onclick='window.location="/new"') What's on your mind?
    
    - for(var x = len - 1; x >=0; x--)
      div.messageDiv
        p.msg #{msg[x].text}
        <hr>
        div.messageDiv-info
          p #{msg[x].user}
          if msg[x].added.getMinutes() < 10
            p #{msg[x].added.getHours()}:0#{msg[x].added.getMinutes()} #{msg[x].added.toDateString()} 
          else 
            p #{msg[x].added.getHours()}:#{msg[x].added.getMinutes()} #{msg[x].added.toDateString()} 




